@media screen and (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .news .newsblock .info-block .block .img-news {
        width: 150px;
        height: 150px;
    }
    .news .newsblock .info-block .block {
        align-items: start;
    }
}
@media screen and (max-width: 1050px) {
    .container {
        width: 850px;
    }
    .news .newsblock .info-block {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 850px) {
    .container{
        width: 60%;
    }
    .aboutUs .aboutUsBlock .infoBlock {
        font-size: 15px;
    }
    .aboutUs .aboutUsBlock .infoBlock, .news .newsblock .info-block {
        font-size: 12px;
    }
    .aboutUs .aboutUsBlock .infoBlock {
        grid-template-columns: 1fr; 
    }
    .aboutUs .aboutUsBlock .infoBlock .block .img-big {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 90%;
    }
    .aboutUs .aboutUsBlock .infoBlock, .news .newsblock .info-block {
        font-size: 14px;
    }   
    .news .newsblock .info-block .block .img-news {
        width: 75px;
        height: 75px;
    }
    footer .footer .info-block a,
    footer .footer .info-block {
        font-size: 10px;
    }
}
@media screen and (max-width: 350px) {
    .news .newsblock .info-block {
        font-size: 12px;
    }
    footer .footer .info-block a {
        font-size: 12px;
    }

}

